# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pkl

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage

# Docker
*.tar

# Database files
*.sqlite3